* { margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: grid;
  background-color: #daf6ff;
}

.sidebar {
  width: 200px;
  background-color: #f2b15c;
  display: grid;
  padding: 12px;
  display: none;
  position: absolute;
}

.sidebar-active {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 3fr 1.5fr;
  gap: 25px;
  padding: 12px;
  /* padding-left: 23%; */
  /* trying to get fullscreen sidebar and stop scrolling */
  position: fixed;
  justify-items: center;
}

.logo-sidebar {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.logo-sidebar-active {
  grid-template-columns: 40px 1fr;
  gap: 20px;
  /* height: 50px; */
  align-items: center;
  margin-top: 35px;
  /* margin-bottom: 15px; */
}

.sidebar-dashboard-logo {
  height: 38px;
  cursor: pointer;
}

.sidebar-dashboard-logo-active {
  height: 40px;
}

.sidebar-dashboard-p {
  font-size: 1rem;
  font-weight: bold;
}

.sidebar-dashboard-p-active {
  font-size: 25px;
}


.list-1-sidebar,
.list-2-sidebar {
  list-style: none;
  display: grid;
  gap: 8px;
  grid-template-columns: 20px 1fr;
  align-items: center;
  margin-left: 5px;
}

.list-2-sidebar {
  align-items: center;
}


.sidebar > ul > li {
  cursor: pointer;
  width: fit-content;
}

.sidebar-ul-active {
  column-gap: 36px;
  grid-template-columns: 25px 1fr;
}

.list-2-sidebar-active {
  margin-right: 44px;
  align-content: start;
  row-gap: 38px;
}

svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.sidebar-svg-active {
  width: 75px;
  height: 28px;
}

.sidebar-li-active {
  font-size: 18px;
  font-weight: bold;
}


.nav-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #daf6ff;
  margin-bottom: 10px;
  padding: 8px 16px;
  border-bottom: 1px solid #a5ada7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
  position: sticky;
  top: 0;
}

.dashboard-button {
  background-color: #bae6fd;
  display: flex;
  align-items: center;
}

.dashboard-logo {
  height: 35px;
  cursor: pointer;
}

.right-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  align-items: center;
}

.alerts {
  height: 25px;
  cursor: pointer;
}
.avatar {
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.name {
  display: none;
}


.search-bar {
  flex: 1 1 auto;
  height: 30px;
  padding: 3px 5px;
  width: 200px;
}


.action-container {
  padding: 10px 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a5ada7;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .35);
}

.left-action-container {
  display: none;
  /*display: grid;*/
  grid-template-columns: 1fr 3fr;
}

.avatar1 {
  height: 45px;
  border-radius: 50%;
}

.right-action-container {
  display: flex;
  justify-content: space-around;
}

.action-container-button {
  background-color: #daf6ff;
  border: 1px solid #a5ada7;
  color: black;
  border-radius: 16px;
  font-size: 18px;
  padding: 5px max(15px, 1rem);
  cursor: pointer;
  font-weight: bold;
}

.projects-container {
 display: grid;
 padding-top: 16px;
 grid-template-rows: 40px 1fr;
}

.title {
  display: grid;
  align-content: center;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  height: 40px;
  border-radius: 20px;
  width: 90%;
  justify-self: center;
}

.projects-title {
  background-color: #f5c189;
}

.project-cards-container {
  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) ); */
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
  gap: 18px;
  padding: 12px;
  padding-bottom: 20px;
  background-color: #daf6ff;
}

.project-card {
  display: grid;
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .35);
  padding: 18px 20px;
  border-left-style: solid;
  border-left-width: 8px;
  border-left-color: #f2b15c;
}

.project-card > div:first-child,
.announcement-card > div:first-child {
  font-weight: bold;
  font-size: 20px;
}

.project-card > div:nth-child(2n),
.announcement-card > div:nth-child(2n) {
  line-height: 1.2;
  color: #6b6e6c;
  margin-bottom: 10px;
}

.card-links {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.card-links > img {
  height: 22px;
  margin-top: 25px;
  cursor: pointer;
}

.announcements-container {
  display: grid;
  row-gap: 12px;
  margin-bottom: 20px;
}

.announcement-title {
  background-color: #ed7878;
}

.announcement-cards-container,
.trending-card-container {
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .35);
  padding: 18px 20px;
  border-left-style: solid;
  border-left-width: 6px;
  margin-left: 12px;
  margin-right: 12px;
  display: grid;
  gap: 16px;
}

.announcement-cards-container {
  border-left-color:#ed7878;
}

.announcement-cards-container > div:first-child,
.announcement-cards-container > div:nth-child(2n) {
  padding-bottom: 12px;
  border-bottom: 1px solid #a5ada7;
}

.trending-container {
  display: grid;
  row-gap: 12px;
  margin-bottom: 20px;
}

.trending-title {
  background-color: #9473c0;
}

.trending-card-container {
  border-left-color: #9473c0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
}

.trending-user-container > img {
  /* height: 3.2rem; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.trending-user-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 5px;
  align-items: center;
}

.trending-user-account {
  font-size: 1fr;
}

.trending-user-nickname {
  font-size: 1fr;
  color: #6b6e6c;
  margin-bottom: 10px;
}

@media only screen and (min-width: 550px) {
  .trending-card-container {
    grid-template-columns: 1fr 1fr;
 }

@media only screen and (min-width: 800px) {
  .action-container {
    display: grid;   
    grid-template-columns: 1fr 1fr;
  }
  
  .left-action-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 8px;
    align-items: center;
    margin-left: 33px;
  }
  
  .salute {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .salute > p:nth-child(2n) {
    font-weight: bold;
  }

.right-action-container {
align-items: center;
}
}


@media only screen and (min-width: 1000px) {
  .sidebar-active {
      margin-top: 18px;
    }

  .nav-container {
    /* position: static; */
    align-items: center;
    height: 60px;
    padding-top: 16px;
    border-bottom: none;
    box-shadow: none;
    padding-left: 48px;
  }
  
  .search-bar {
    flex-grow: 0;
    width: 500px;
  }
  
  .right-container {
    margin-left: auto;
    gap: 3rem;
    justify-items: space-around;
    margin-right: 42px;
  }
  
  .right-action-container {
    justify-content: end;
    gap: 30px;
    margin-right: 42px;
  }
  
  .rightpanel-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-content: stretch;
  }   

  .trending-card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* align-content: space-between; */
    /* height: 323.2px; */
 }
  
  .trending-user-container {
      gap: 15px;
    }

  .trending-user-container > img {
    height: 65px;
    width: 65px;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    /* grid-template-columns: 250px minmax(1000px, 70%); */
    grid-template-columns: 270px 1fr;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 42px;
    position: static;
    height: 100vh;
    width: 270px;
    align-items: start;
    /* padding: 12px; */
  }    

  .logo-sidebar {
    gap: 25px; 
    height: fit-content;
    margin-top: 8px;
  }
  
  .sidebar-dashboard-p {
    font-size: 22px;
    font-weight: bold;
  }

  .list-1-sidebar,
  .list-2-sidebar {
    height: fit-content;
    font-weight: bold;
    column-gap: 20px;
    row-gap: 22px;
    margin-left: 10px;
  }
  
  svg {
    scale: 1.3;
  }

  .main-container {
  padding-right: 18px;
}

  .nav-container {
    position: static;
    align-items: center;
    height: 60px;
    margin-top: 8px;
    border-bottom: none;
    box-shadow: none;
  }

  .dashboard-logo {
    cursor: initial;
  }

  .action-container {
    border-bottom: none;
    box-shadow: none;
  }

  .pat-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
  }

  .projects-container {
   padding-top: 0;
  }

  .project-cards-container {
    row-gap: 32px;
  }


  .rightpanel-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .announcements-container {
    row-gap: 12px;
  }

  .announcement-card {
    padding-bottom: 0px;
  }

  .announcement-card > div:first-child {
    font-size: 16px;
  }

  .announcement-card > div:nth-child(2n) {
    margin-bottom: 0px;
  }

  .trending-container {
    row-gap: 12px;
  }

  .trending-card-container {
    height: 265px;  
    overflow-y: scroll;

  }

  .trending-user-container > img {
    height: 55px;
    width: 55px;
  }
}









