* { margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: grid;
  background-color: #daf6ff;
  /** grid-template-columns: 250px minmax(1000px, 70%); **/
}

.sidebar {
  width: 200px;
  background-color: #f2b15c;
  display: grid;
  grid-template-columns: 200px;
  gap: 38px;
  padding: 12px;
  display: none;
  position: absolute;
}

.sidebar-active {
  /* display: initial; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 3fr 1.5fr;
  gap: 25px;
  padding: 12px;
  position: absolute;
  padding-left: 23%;
  /* trying to get fullscreen sidebar and stop scrolling */
  position: fixed;
}

.logo-sidebar {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.logo-sidebar-active {
  grid-template-columns: 40px 1fr;
  gap: 20px;
  /* height: 50px; */
  align-items: center;
  margin-top: 35px;
  /* margin-bottom: 15px; */
}

.sidebar-dashboard-logo {
  height: 38px;
  cursor: pointer;
}

.sidebar-dashboard-logo-active {
  height: 40px;
}

.sidebar-dashboard-p {
  font-size: 18px;
  font-weight: bold;
}

.sidebar-dashboard-p-active {
  font-size: 25px;
}


.list-1-sidebar,
.list-2-sidebar {
  list-style: none;
  display: grid;
  gap: 8px;
  grid-template-columns: 20px 1fr;
  align-items: center;
  margin-left: 5px;
}

.list-2-sidebar {
  align-items: center;
}


.sidebar > ul > li {
  cursor: pointer;
  width: fit-content;
}

.sidebar-ul-active {
  column-gap: 36px;
  grid-template-columns: 25px 1fr;
}

svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.sidebar-svg-active {
  width: 75px;
  height: 28px;
}

.sidebar-li-active {
  font-size: 18px;
  font-weight: bold;
}


.nav-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #daf6ff;
  margin-bottom: 10px;
  padding: 8px 16px;
  border-bottom: 1px solid #a5ada7;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
  position: sticky;
  top: 0;
}

.dashboard-button {
  background-color: #bae6fd;
  display: flex;
  align-items: center;
}

.dashboard-logo {
  height: 35px;
  cursor: pointer;
}

.right-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  align-items: center;
}

.alerts {
  height: 25px;
  cursor: pointer;
}
.avatar {
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.name {
  display: none;
}


.search-bar {
  flex: 1 1 auto;
  height: 30px;
  padding: 3px 5px;
  width: 200px;
}


.action-container {
  padding: 10px 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a5ada7;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .35);
}

.left-action-container {
  display: none;
  /*display: grid;*/
  grid-template-columns: 1fr 3fr;
}

.avatar1 {
  height: 45px;
  border-radius: 50%;
}

.right-action-container {
  display: flex;
  justify-content: space-around;
}

.action-container-button {
  background-color: #f2b15c;
  color: black;
  border-radius: 16px;
  font-size: 18px;
  border: none;
  padding: 5px max(15px, 1rem);
  cursor: pointer;
  font-weight: bold;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

.projects-title {
  background-color: #f5c189;
}

.project-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  padding: 12px;
  padding-bottom: 20px;
  background-color: #daf6ff;
}

.project-card {
  display: grid;
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .35);
  padding: 18px 20px;
  border-left-style: solid;
  border-left-width: 6px;
  border-left-color: #f2b15c;
}

.project-card > div:first-child,
.announcement-card > div:first-child {
  font-weight: bold;
  font-size: 20px;
}

.project-card > div:nth-child(2n),
.announcement-card > div:nth-child(2n) {
  line-height: 1.2;
  color: #6b6e6c;
  margin-bottom: 10px;
}

.card-links {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.card-links > img {
  height: 22px;
  margin-top: 25px;
  cursor: pointer;
}

.announcements-container {
  display: grid;
  row-gap: 20px;
  margin-bottom: 20px;
}

.announcement-title {
  background-color: #ed7878;
}

.announcement-cards-container,
.trending-card-container {
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .35);
  padding: 18px 20px;
  border-left-style: solid;
  border-left-width: 6px;
  margin-left: 12px;
  margin-right: 12px;
  display: grid;
  gap: 16px;
}

.announcement-cards-container {
  border-left-color:#ed7878;
}

.announcement-cards-container > div:first-child,
.announcement-cards-container > div:nth-child(2n) {
  padding-bottom: 12px;
  border-bottom: 1px solid #a5ada7;
}

.trending-container {
  display: grid;
  row-gap: 20px;
  margin-bottom: 20px;
}

.trending-title {
  background-color: #9473c0;
}

.trending-card-container {
  border-left-color: #9473c0;
}

.trending-user-container > img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.trending-user-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 18px;
}



.trending-user-nickname {
  color: #6b6e6c;
  margin-bottom: 10px;
}




















